body{
    background-color: red;
    background-image: url(logo.svg);
    background-repeat:  no-repeat;
}


p{
    color: #ffffff;
    font-size: 30px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-style: dotted;
    border-color: red;
    border-width: 4px;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 3em;
    padding-left: 3em;
    text-align: justify;
  


}


a{
    text-decoration: none;
    font-size: 30px;
}


nav{
    background-color: salmon;
}



li{
    display: inline;
    margin-right:30px;
}