body{
    background-color: powderblue;
    color: white;
}

.main_body_div{
    background-color: black;
    width: 50%;
    margin: auto;
    height: 13em;

}
.sec2{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 1em;


}

.sec3{
    text-align: center;
    margin-top: 1em;
  
   
}

a{
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 2em;
}

.sec1_1{
    text-transform: capitalize;
}

.sec1_2{
    font-size: 3em;
    margin-top: -20px;
}


.sec2_1{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    word-spacing: 6px;


    
}

.sec2_2{
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    width: 139px;
    margin-left: 80px;
    margin-top:-24px;
    

}


